@tailwind base;
@tailwind base;
@tailwind components;
@tailwind variants;
@tailwind utilities;

html,
body {
	@apply h-full overflow-hidden;
	--w3m-background-color: var(--color-primary-500);
	height: 100%;
}
